doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#wrapper
      div#header
        h1 
          a(href='/', style='color: black') The Zine
      block content
